body {
  background-color: black;
}

.App-root-div{
  margin-left: 15px;
}


.social-media-logo-icon {
  margin: 8px;
}

.instagram-logo{
  margin-left: 0;
}

.experience-set {
  margin-bottom: 20px;
}

.experience-set-title{
  color: white;
  font-size: 23px;
}

.experience-set-list {
  color: rgb(152, 156, 233);
  font-size: 23px;
}

.experience-set-item {
  margin-bottom: 10px;
}

.title-full-name {
  color: white;
  font-size: 140px;
  margin-bottom: 0;
}

.App-body {
  margin-top: -20px;
}

.App-grid{

  width: 100%;  

}

.App-grid-row{
  
}

.App-grid-col {

}

.octavio-image{
  top: 0;
  left: 90;
  width: 500px;
  height: 100vh;
  position: fixed;
}

.left-col {
  border-right: 0.25px solid rgb(152, 156, 233);
}

.highlight {
  color: rgb(0, 176, 240);
}

.link {
  color: yellow;
}

.row-list {
  display: inline-block;
}

.column-list {
  display: inherit;
}

@media only screen and (max-width: 600px) {

  .title-full-name {
    color: white;
    font-size: 120px;
    margin-bottom: 0;
  }

  .experience-set-title{
    color: white;
    font-size: 20px;
  }
  
  .experience-set-list {
    color: rgb(152, 156, 233);
    font-size: 20px;
  }

  .octavio-image{
    top: 0;
    left: 90;
    width: 500px;
    height: 100vh;
    position: fixed;
    opacity: 0.2;
    z-index: -1;
  }

  .instagram-link {
    z-index: 5;
  }

  .facebook-link {
    z-index: 5;
  }

  .linked-link {
    z-index: 5;
  }


}

